body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    background-color: #222;
    flex-direction: column;
  }

svg {
    border: 2px solid #fff;
    background-color: #444;
}

.arena {
  display: none;
}

.startGame {
  display: none;
}