body {
  display: flex;
  margin: 0;
  font: 25px Arial, sans-serif;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  flex-direction: column;
  overflow: hidden;
}

svg {
  border: 2px solid #fff;
  background-color: #444;
}

#arena {
  position: relative;
  z-index: 10;
}

.startGame {
  /* display: none; */
}

button {
  margin: 10px;
  font: 25px Arial, sans-serif;
}

form {

}

#app {
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

#lobby {
  display: flex;
  border: #444 2px solid;
  justify-content: center; /* Horizontal center */
  align-items: center; /* Vertical center */
  /* height: 100vh;  */
  flex-direction: column; /* Optional: Stack items vertically */
  text-align: center; /* Optional: Center text inside */
  max-width: fit-content;
}

#game {
  display: flex;
  justify-content: center;
  align-items: center;
  border: #444 2px solid;
  flex-direction: column;
  text-align: center;
  margin: 20px;
  max-width: fit-content;
  display: none;
}

#hud {
  display: flex;
  border: #444 5px solid;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: center;
  margin: 20px;
  max-width: fit-content;
  display:none;
}

#scoreboard {
  display: none;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -350%);
  border: #444 5px solid;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px;
  max-width: fit-content;
  z-index: 1000;
}

#pause {
  display: none;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  border: #444 5px solid;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px;
  max-width: fit-content;
  z-index: 1000;
  background: white;
}

div {
  margin: 10px;
  font: 25px Arial, sans-serif;
}